<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boat.pension.mapper.BedMapper">
  <resultMap id="BaseResultMap" type="com.boat.pension.model.Bed">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="roomID" jdbcType="INTEGER" property="roomid" />
    <result column="roomNum" jdbcType="VARCHAR" property="roomnum" />
    <result column="seniorID" jdbcType="INTEGER" property="seniorid" />
    <result column="deviceID" jdbcType="INTEGER" property="deviceid" />
    <result column="location" jdbcType="VARCHAR" property="location" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, num, roomID, roomNum, seniorID, deviceID, location
  </sql>
  <select id="selectByExample" parameterType="com.boat.pension.model.BedExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bed
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bed
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bed
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.boat.pension.model.BedExample">
    delete from bed
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.boat.pension.model.Bed">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bed (num, roomID, roomNum, 
      seniorID, deviceID, location
      )
    values (#{num,jdbcType=INTEGER}, #{roomid,jdbcType=INTEGER}, #{roomnum,jdbcType=VARCHAR}, 
      #{seniorid,jdbcType=INTEGER}, #{deviceid,jdbcType=INTEGER}, #{location,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.boat.pension.model.Bed">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bed
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="num != null">
        num,
      </if>
      <if test="roomid != null">
        roomID,
      </if>
      <if test="roomnum != null">
        roomNum,
      </if>
      <if test="seniorid != null">
        seniorID,
      </if>
      <if test="deviceid != null">
        deviceID,
      </if>
      <if test="location != null">
        location,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="roomid != null">
        #{roomid,jdbcType=INTEGER},
      </if>
      <if test="roomnum != null">
        #{roomnum,jdbcType=VARCHAR},
      </if>
      <if test="seniorid != null">
        #{seniorid,jdbcType=INTEGER},
      </if>
      <if test="deviceid != null">
        #{deviceid,jdbcType=INTEGER},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.boat.pension.model.BedExample" resultType="java.lang.Long">
    select count(*) from bed
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update bed
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.num != null">
        num = #{record.num,jdbcType=INTEGER},
      </if>
      <if test="record.roomid != null">
        roomID = #{record.roomid,jdbcType=INTEGER},
      </if>
      <if test="record.roomnum != null">
        roomNum = #{record.roomnum,jdbcType=VARCHAR},
      </if>
      <if test="record.seniorid != null">
        seniorID = #{record.seniorid,jdbcType=INTEGER},
      </if>
      <if test="record.deviceid != null">
        deviceID = #{record.deviceid,jdbcType=INTEGER},
      </if>
      <if test="record.location != null">
        location = #{record.location,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update bed
    set id = #{record.id,jdbcType=INTEGER},
      num = #{record.num,jdbcType=INTEGER},
      roomID = #{record.roomid,jdbcType=INTEGER},
      roomNum = #{record.roomnum,jdbcType=VARCHAR},
      seniorID = #{record.seniorid,jdbcType=INTEGER},
      deviceID = #{record.deviceid,jdbcType=INTEGER},
      location = #{record.location,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.boat.pension.model.Bed">
    update bed
    <set>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="roomid != null">
        roomID = #{roomid,jdbcType=INTEGER},
      </if>
      <if test="roomnum != null">
        roomNum = #{roomnum,jdbcType=VARCHAR},
      </if>
      <if test="seniorid != null">
        seniorID = #{seniorid,jdbcType=INTEGER},
      </if>
      <if test="deviceid != null">
        deviceID = #{deviceid,jdbcType=INTEGER},
      </if>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.boat.pension.model.Bed">
    update bed
    set num = #{num,jdbcType=INTEGER},
      roomID = #{roomid,jdbcType=INTEGER},
      roomNum = #{roomnum,jdbcType=VARCHAR},
      seniorID = #{seniorid,jdbcType=INTEGER},
      deviceID = #{deviceid,jdbcType=INTEGER},
      location = #{location,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>